* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;

}

.link-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px;
}

.button-sign-up {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    height: 51px;
    width: 124px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer
}

img {
    margin: 163px 0 0 123px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 85px;
    width: 493px;

}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: .5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;

}

.button-learn-more {
    color: #6FBF44;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    background: transparent;
    border: none;
}

@media screen and (max-width:550px) {
    .link-menu {
        display: none;
    }

    .button-sign-up {
        margin: auto 360px;
    }

    img {
        margin-top: 130%;
        position: static;
        max-width: 120vw;
        margin-left: 30px;
    }

    div {
        position: relative;
        bottom: 95vh;
    }

    h1 {
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.596px;
        margin-right: 145px;
    }

    p {
        text-align: center;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 2.5px;
        margin: 45px auto;
        margin-right: 140px;
    }

    .button-learn-more {

        font-size: 22px;
        line-height: normal;
        letter-spacing: 1px;
        margin: 5px 0 0 100px;
    }
}
